.reading-mask {
  position: fixed !important;
  width: 100% !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.reading-mask-parent {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: fixed;
  background-color: transparent;
  z-index: 99999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
